#add a {
    

}
#delete a {
    float: left;

}



h1 {
    color : salmon;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 2px gray;
}

th, td {
    text-align: left;
    padding: 8px;
}

table{
    text-align : center;
    width : 100%;
    border-collapse: separate; 
    border-spacing: 0 10px;  
}

.Head{
    font-size : 20px;
}

.column1 {
    width: 14%;
  }
  
  .column2 {
    width: 12%;
  }
  
  .column3 {
    width: 5%;
  }
  
  .column4 {
    width: 12%;
  }
  
  .column5 {
    width: 14%;
  }
  
  .column6 {
    width: 5%;
  }

  .column7 {
    width: 5%;
  }
  
  .column8 {
    width: 14%;
  }
  
  .column9 {
    width: 17%;
  }
  
  .column10 {
    width: 2%;
  }
  

tr:nth-child(even){background-color: #f2f2f2}

  #sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111;/* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

/* The navigation menu links */
  #sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }