#add a {
    color : white;
    background : skyblue;
    width : 200px;
    height : 50px;
    text-decoration : none;
    font-size: 30px;
}

h1 {
    color : salmon;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 2px gray;
}

table{
    text-align : center;
    width : 80%;
    border-collapse: separate; 
    border-spacing: 0 10px;  
}

.Head{
    font-size : 30px;
}

.column1 {
    width: 5%;
  }
  
  .column2 {
    width: 20%;
  }
  
  .column3 {
    width: 5%;
  }
  
  .column4 {
    width: 30%;
  }
  
  .column5 {
    width: 10%;
  }
  
  .column6 {
    width: 10%;
  }

  .Line {
    font-family: Lato-Bold;
    font-size: 20px;
    color: #555555;
    line-height: 1.4;
    background-color: transparent;
    background-color: #f7f7f7;
  }

  #sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111;/* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

/* The navigation menu links */
  #sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
